.Bg-Header {
    background-image: url('../../../public/Icons/Header-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: fixed;
    height: 25%;
    width: 100%;
    top: 0;
    left: 5%;
  }
  
@media screen and (max-width: 992px ) {
    .Bg-Header{
        background-image: url('../../../public/Icons/Header-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        position: fixed;
        height: 15%;
        width:100%;
        max-width: 100%;
        top: 0;
        left: 0;
        z-index: 9;
    }  
}

.Logout-Option{
    display: flex;
    position: fixed; 
    left: 2%;
    top: 80%;
    cursor: pointer;
}

@media screen and (max-width: 992px ) {
    .Logout-Option{
        left: auto;
        right: 1%;
        top: 1%;
        cursor: pointer;
    }
}